.form {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.form form {
  width: 450px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
}

.form .formSection {
  width: 450px !important;
}

form .heading {
  width: 100%;
  position: relative;
}

.heading h1 {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: #664ca8;
}

.heading p {
  font-size: 1.05rem;
  margin: 10px 0;
  color: #838181;
}

.heading img {
  height: 100px;
  margin: 15px 0 10px 0;
  animation: 1s rocate ease infinite;
}

@keyframes rocate {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.form form input {
  width: 95%;
  margin: 10px auto;
  padding: 15px 10px;
  border: 2px solid black;
  outline: none;
}

form input[type="submit"] {
  width: 95%;
  padding: 8px 15px;
  background-color: #664ca8;
  color: #ffffff;
  border: 2px solid #664ca8;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background: #ff6600;
  border: 2px solid #ff6600;
}

.google_signUp {
  width: 100%;
}

.google_icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 25px;
  cursor: pointer;
  transition: 0.5s ease;
  position: relative;
}

.google_icon:hover {
  color: rgb(125, 122, 122);
  padding: 10px 30px;
}

.google_icon img {
  height: 25px;
}

.google_icon h1 {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  left: 70px;
}

.google_icon i {
  font-size: 1.5rem;
}

.login_details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.login_details a {
  color: #664ca8;
  font-size: 1.2rem;
  text-decoration: none;
}

.login_details a:hover {
  color: #ff6600;
}

/* ********************** Navbar ************************* */

.header nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #664ca8;
  box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.header nav .navbar-brand img {
  height: 60px;
}

.header nav .ulList {
  display: flex;
  margin-top: 18px;
}

.header nav .ulList li {
  list-style: none;
}

.header nav .ulList li a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0 25px;
}

.header nav .ulList li a:hover {
  color: #ff6600;
}

.header nav .nav-item {
  margin-left: 35px;
}

.header nav .nav-item a {
  font-size: 1.2rem;
  color: #ffffff;
}

.header nav .nav-item a:hover {
  color: #ff6600;
}

.header nav .nav-item a:focus {
  color: #ffffff;
}

.header nav button span {
  background-color: #ffffff !important;
}

.header nav .navbar-toggler {
  color: #ffffff;

  border: 1px solid #ffffff;
}

/* ******************* Home ************************** */
.container_section {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
}

.container_section .card_section {
  margin: 10px;
  box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
}

.card_section img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.apiContent {
  width: 100%;
  margin: 10px 0;
}

.apiContent .titleName {
  font-size: 1rem;
}

.content_between {
  width: 100%;
}

.content_between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: relative;
}

.content_between h1 {
  font-size: 18px;
}

.titleTitile {
  font-size: 1.5rem;
  margin: 10px 0;
}

.description {
  font-size: 1rem;
}

.apiContent a {
  font-size: 1rem;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.angleUp{
  width: 55px;
  height: 55px;
  background-color: #664ca8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 35px;
  right: 10px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 2rem;
  cursor: pointer;
}

.angleUp:hover{
  background-color: #ff6600;
  color: #FFFFFF;
}
/* ******************* Media Query ************************** */
@media screen and (max-width: 900px) {
  .container_section {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 600px) {
  .form form {
    width: 95%;
  }

  .form .formSection {
    width: 95% !important;
  }

  .header nav .nav-item {
    margin-left: 0;
    text-align: center;
  }

  .container_section {
    grid-template-columns: auto;
  }
}
